.card {
    position: relative;
    min-height: 100vh;
    background-image: url('/static/img/login/home.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-login{
    max-width: 100%;
}
.card-img-overlay {
    position: relative;
    padding: 20px;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
    }
}
