.img-inicio {
    margin-left: -46%
}

.hero {
    background-size: cover;
}

.container-registro{
    padding: 0px;
}

@media (max-width: 425px) {
    .container-registro {
      max-width: 100%;
    }
}

.card {
    position: relative;
    min-height: 100vh;
    background-image: url('/static/img/login/home.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card-img-overlay {
    position: relative;
    padding: 20px;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
    }
}

/* Estilo de intranet */


.LineaHorizontal {
    border: none;                 /* Quita bordes predeterminados */
    border-top: 1px solid red;    /* Crea la línea roja */
    width: 80%;                   /* Ajusta el ancho de la línea */
    margin: 0 auto;               /* Centra la línea */
    margin-top: -4%;             /* Ajusta el espacio superior */
  }

.MarginBotones {
    margin-top: -1%;
}
    